<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 下划线转换-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--&lt;!&ndash; 别名 &ndash;&gt;
    <typeAliases>
        <typeAlias type="com.zt.entity.Student" alias="Student"/>
    </typeAliases>-->

    <!-- 环境变量 -->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///demo"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 映射文件 -->
    <mappers>
        <!-- 配置mapper-->
        <!--<mapper resource="mapper/StudentMapper.xml"/>
        <mapper resource="mapper/MovieMapper.xml"/>-->

        <!-- 注解配置 -->
        <mapper class="com.zt.mapper.ProductorMapper"/>
        <mapper class="com.zt.mapper.StudentMapper"/>
        <mapper class="com.zt.mapper.SchoolMapper"/>
        <mapper class="com.zt.mapper.TagMapper"/>

    </mappers>

</configuration>