<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zt.mapper.StudentMapper">

    <insert id="save" parameterType="com.zt.entity.Student">
        insert into student (stu_name,email)
        values (#{stuName},#{email})
    </insert>

    <select id="findAll" resultType="com.zt.entity.Student">
        select id, stu_name, email
        from student
    </select>

    <select id="findById" resultType="com.zt.entity.Student">
        select id, stu_name, email
        from student where id=#{id};
    </select>

    <update id="update" parameterType="com.zt.entity.Student">
        update student
        set stu_name=#{stuName},
        email=#{email}
        where id=#{id}
    </update>

    <delete id="del">
        delete from student
        where id = #{id}
    </delete>

</mapper>