<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zt.mapper.StudentMapper">

    <resultMap id="baseMap" type="com.zt.entity.Student">
        <id column="id" property="id"/>
        <result column="stu_name" property="stuName"/>
        <result column="email" property="email"/>
        <result column="school_id" property="schoolId"/>
    </resultMap>

    <!-- 一对多-->
    <resultMap id="tagMap" type="com.zt.entity.Student" extends="baseMap">
        <collection property="tagList" ofType="com.zt.entity.Tag">
            <!-- 关联关系表，tag.id别名tag_id -->
            <id column="tag_id" property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>
    <select id="findTagById" resultMap="tagMap">
        select student.id, stu_name, email, school_id, tag.id as tag_id, tag_name
        from student
        inner join student_tag on student_tag.student_id = student.id
        inner join tag on tag.id = student_tag.tag_id
        where
        student.id = #{id}
    </select>

    <!-- 多对一/一对一 -->
    <resultMap id="schoolMap" type="com.zt.entity.Student" extends="baseMap">
        <association property="school" javaType="com.zt.entity.School">
            <!-- student中的school_id -->
            <id column="school_id" property="id"/>
            <result column="school_name" property="schoolName"/>
        </association>
    </resultMap>
    <select id="findSchoolById" resultMap="schoolMap" parameterType="int">
        select student.id, stu_name, email, school_id, school_name
        from student
        inner join school on student.school_id = school.id
        where
        student.id = #{id}
    </select>

    <!--批量插入 -->
    <insert id="addBatch" parameterType="com.zt.entity.Tag">
        insert into tag(tag_name) values
        <foreach collection="tagList" separator="," item="tag">
            (#{tag.tagName})
        </foreach>

    </insert>

    <!-- useGeneratedKey使用自动增长主键值， keyProperty的值为id-->
    <insert id="save" parameterType="com.zt.entity.Student" useGeneratedKeys="true" keyProperty="id">
        insert into student (stu_name,email)
        values (#{stuName},#{email})
    </insert>

    <select id="findAll" resultType="com.zt.entity.Student">
        select id, stu_name, email
        from student
    </select>

    <!-- 手动映射 -->
    <resultMap id="studentMap" type="com.zt.entity.Student">
        <id column="id" property="id"/>
        <result column="stu_name" property="stuName"/>
        <result column="email" property="email"/>
    </resultMap>
    <select id="findById" resultMap="studentMap">
        select id, stu_name, email
        from student where id=#{id};
    </select>

    <!-- 自动映射-->
   <!-- <select id="findById" resultType="com.zt.entity.Student">
        select id, stu_name, email
        from student where id=#{id};
    </select>-->

    <select id="findByPage" resultType="com.zt.entity.Student">
        select id, stu_name, email
        from student
        limit #{start},#{pageSize}
    </select>
    
    <select id="findByMap" parameterType="map" resultType="com.zt.entity.Student">
        select id, stu_name, email
        from student
        limit #{start},#{pageSize}
    </select>

    <update id="update" parameterType="com.zt.entity.Student">
        update student
        set stu_name=#{stuName},
        email=#{email}
        where id=#{id}
    </update>

    <delete id="del">
        delete from student
        where id = #{id}
    </delete>

</mapper>